<div class="container">
<carousel>
  <slide>
    <img src="assets/images/ansa/thiruvathira.png" alt="First slide" class="max-height">
    <div class="carousel-caption hide">
      <h3>Thiruvathara</h3>
      <p>Come onam, and you can see her dance like a peacock with a lot of grace and elegance</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/ansa/moral-support.png" alt="Second slide" class="max-height">
    <div class="carousel-caption hide">
      <h3>Bharatanatyam</h3>
      <p>You need someone to step into a classic dance attire dipicting various emotions through expressions, then she is the one you should call.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/ansa/simplicity.png" alt="Third slide" class="max-height">
    <div class="carousel-caption hide">
      <h3>Moral support</h3>
      <p>You feel confident, want to feel like there is always someone by your side... she's there isn't she?!</p>
    </div>
  </slide>
    <slide>
    <img src="assets/images/ansa/smile.png" alt="Third slide" class="max-height">
    <div class="carousel-caption hide">
      <h3>Smile</h3>
      <p>People say smile is the prettiest thing on face,... need i say anything?!</p>
    </div>
  </slide>
    <slide>
    <img src="assets/images/ansa/bharathanaryam.png" alt="Third slide" class="max-height">
    <div class="carousel-caption hide">
      <h3>Simplicity</h3>
      <p>Well want can i say? the picture says it all</p>
    </div>
  </slide>
</carousel>
</div>